<header class="topbar">
  <div class="left">
    <h1 class="title">Service Monitor</h1>
  </div>

  <div class="right">
    <div class="user" (click)="toggleMenu()" tabindex="0">
      <div class="avatar">U</div>
      <span class="uname">Account</span>
      <span class="chev">▾</span>
    </div>

    <div class="menu" *ngIf="menuOpen()">
      <a class="item" routerLink="/dashboard">Dashboard</a>
      <a class="item" routerLink="/services">Services</a>
      <button class="item danger" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
